pattern2.json
{
    "name": "pl_copy_fault_tolerance_pattern_2",
    "properties": {
        "activities": [
            {
                "name": "LookupProductIds",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": "SELECT PRODUCT_ID FROM dbo.Products",
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "ds_product_tier1",
                        "type": "DatasetReference"
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "CollectProductIds",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "LookupProductIds",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('LookupProductIds').output.value",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "AppendProductId",
                            "type": "AppendVariable",
                            "dependsOn": [],
                            "userProperties": [],
                            "typeProperties": {
                                "variableName": "productIds",
                                "value": {
                                    "value": "@item().PRODUCT_ID",
                                    "type": "Expression"
                                }
                            }
                        }
                    ]
                }
            },
            {
                "name": "HasProductIds",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "CollectProductIds",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@greater(length(variables('productIds')), 0)",
                        "type": "Expression"
                    },
                    "ifTrueActivities": [
                        {
                            "name": "CopyToStaging",
                            "type": "Copy",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 2,
                                "retryIntervalInSeconds": 60,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "AzureSqlSource",
                                    "sqlReaderQuery": {
                                        "value": "@concat('SELECT * FROM dbo.Products WHERE PRODUCT_ID IN (', join(variables('productIds'), ','), ')')",
                                        "type": "Expression"
                                    },
                                    "queryTimeout": "02:00:00",
                                    "partitionOption": "None"
                                },
                                "sink": {
                                    "type": "AzureSqlSink",
                                    "preCopyScript": "TRUNCATE TABLE dbo.Products_Staging;",
                                    "tableOption": "autoCreate",
                                    "disableMetricsCollection": false
                                },
                                "enableStaging": false,
                                "translator": {
                                    "type": "TabularTranslator",
                                    "mappings": [
                                        {
                                            "source": {
                                                "name": "PRODUCT_ID",
                                                "type": "Int32",
                                                "physicalType": "int"
                                            },
                                            "sink": {
                                                "name": "PRODUCT_ID",
                                                "type": "Int32",
                                                "physicalType": "int"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "PRODUCT_NAME",
                                                "type": "String",
                                                "physicalType": "nvarchar"
                                            },
                                            "sink": {
                                                "name": "PRODUCT_NAME",
                                                "type": "String",
                                                "physicalType": "nvarchar"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "UNIT_PRICE",
                                                "type": "Decimal",
                                                "physicalType": "decimal",
                                                "scale": 2,
                                                "precision": 10
                                            },
                                            "sink": {
                                                "name": "UNIT_PRICE",
                                                "type": "Decimal",
                                                "physicalType": "decimal",
                                                "scale": 2,
                                                "precision": 10
                                            }
                                        }
                                    ],
                                    "typeConversion": true,
                                    "typeConversionSettings": {
                                        "allowDataTruncation": true,
                                        "treatBooleanAsNumber": false
                                    }
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "ds_product_tier1",
                                    "type": "DatasetReference"
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "ds_product_tier2_staging",
                                    "type": "DatasetReference"
                                }
                            ]
                        },
                        {
                            "name": "DeleteCopiedProducts",
                            "type": "Script",
                            "dependsOn": [
                                {
                                    "activity": "MergeStagingToProd",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 1,
                                "retryIntervalInSeconds": 60,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "linkedServiceName": {
                                "referenceName": "ls_sqldb_order_tier1",
                                "type": "LinkedServiceReference"
                            },
                            "typeProperties": {
                                "scripts": [
                                    {
                                        "type": "Query",
                                        "text": {
                                            "value": "@concat('DELETE FROM dbo.Products WHERE PRODUCT_ID IN (', join(variables('productIds'), ','), ')')",
                                            "type": "Expression"
                                        }
                                    }
                                ],
                                "scriptBlockExecutionTimeout": "02:00:00"
                            }
                        },
                        {
                            "name": "MergeStagingToProd",
                            "type": "SqlServerStoredProcedure",
                            "dependsOn": [
                                {
                                    "activity": "CopyToStaging",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "storedProcedureName": "[dbo].[usp_MergeProducts]"
                            },
                            "linkedServiceName": {
                                "referenceName": "ls_sqldb_order_tier2",
                                "type": "LinkedServiceReference"
                            }
                        }
                    ]
                }
            }
        ],
        "variables": {
            "productIds": {
                "type": "Array"
            }
        },
        "annotations": []
    }
}
